<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>新增用户</h1>
<form action="regis/1/2" method="post">
    <table>
        <tr>
            <td>用户名：</td>
            <td><input name="uname" /></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input name="password" /></td>
        </tr>
        <tr>
            <td><input type="submit"/></td>
        </tr>
    </table>
</form>


</body>
</html>