<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .odd{background-color: #cccccc}
    </style>

<script th:inline="javascript">

    var name=[[${uu.uid}]];
    alert(name);

</script>

</head>
<body>

<table border="1">
    <tr>
        <td>ID</td>
        <td>用户名</td>
        <td>密码</td>
        <td>日期</td>
    </tr>

    <!-- 查询全部显示在页面上 -->

    <tr th:each="z,nsStat:${list}" th:class="${nsStat.odd}?'odd'">
        <td th:text="${z.uid}">00000000</td>
        <td th:text="${z.uname}" >匿名</td>
        <td th:text="${z.password}">000000</td>
        <!--转换日期格式-->
        <td th:text="${#dates.format(z.borddate,'yyyy-MM-dd')}">2019-2-2</td>
    </tr>

</table>

<!-- 下拉列表-->
<select id="s1" th:field="*{uu.uid}">
<option th:each="z:${list}" th:value="${z.uid}" th:text="${z.uname}" >默认</option>
</select>



</body>
</html>